
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";



// Bulma
@import "node_modules/bulma/bulma.sass";

html {
  font-size: .625em; /* fallback IE8+ */
  font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

body {
  font-size:1.2rem;
}

.input, .textarea, .label, .nav-item, .panel, .button{
  font-size:1.2rem;
}

nav.nav-simone {
  -webkit-box-align: stretch;
  background-color: #fff;
  height: 5.6rem;
  position: relative;
  text-align: center;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.nav-simone-item {
  line-height: 5.6rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  color: #DE6C83;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-transition: all 90ms ease-in-out;
  transition: all 90ms ease-in-out;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

a.nav-simone-item:hover {
  text-decoration: none;
  -webkit-box-shadow:inset 0 3px 0 0 $eucaly;
  box-shadow:inset 0 3px 0 0 $eucaly;
color:$eucaly;
  text-shadow: 0 2px 8px #efefef;
  -webkit-transition: all 90ms ease-in-out;
  transition: all 90ms ease-in-out;
}

.bleu {
  background: $bleu;
}
.orchide {
  background: $orchide;
}
.rougir {
  background: $rougir;
}
.ombrepourpre {
  background: $ombrepourpre;
}
.eucaly {
  background: $eucaly;
}

.tagpage{
  color: $rougir;
  background: $bleu;
}

nav.nav-simone.has-shadow {
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1);
  margin-bottom: 1.5rem;
}

button.nobgbutton{
  background: none;
  border:none;
}

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nav-left {
  max-width: 20%;
}